body {
  background-color: beige;
}

h1 {
  text-align: center;
  background-color: bisque;
  margin-top: 0px;
  padding: 10px;
}
h3 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
}
